/.project
sormas_HL7v2/.project
sormas_HL7v2/.settings
sormas_HL7v2/.classpath
sormas_HL7v2/.factorypath
sormas_HL7v2/target
.idea
dhis.conf
docker-compose.yml
hzi_adapters.sql
sormas-old.conf
sormas.conf
/.metadata/
